* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  /* max-width: 1000px; */
  /* margin: auto; */
}

.center {
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  padding-top: 0px !important;
}

.width400 {
  padding-top: 1.25rem;
  max-width: 25rem;
}

@media only screen and (max-width: 768px) {
  .container {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}
